@charset "UTF-8";


body{min-width:1440px; position: relative;}


#header{height: 50px; position: relative; padding: 0px 20px; background-color: #333; text-align: left;}
#header .logo{display: inline-block; width: 234px; height: 45px; padding-top: 3px;}
#header .logo img{width: 100%;}


#nav{background-color: #393B4D; position: absolute; padding: 30px 0px; width: 250px; min-height: 705px; z-index: 2; text-align: left;}
#nav >.depth01-menu{}
#nav >.depth01-menu li{font-size: 16px; font-weight: 400; line-height: 34px; border-bottom: 1px #595c6c solid;}
#nav >.depth01-menu li a{display: block; position: relative; color: #fff; padding: 5px 20px;}
#nav >.depth01-menu li a::after{content: ''; clear: both; display: inline-block; width: 6px; height: 10px; background: url(../images/common/ico_default.png) no-repeat center right; position: absolute; right: 20px; top: 17px;}

#nav >.depth01-menu li.on{font-weight:600;}
#nav >.depth01-menu li.on a{background-color: #eb8c4f;}
#nav >.depth01-menu li.on a::after{content: ''; clear: both; display: inline-block; width: 10px; height: 10px; background: url(../images/common/ico_on.png) no-repeat center right; position: absolute; right: 20px; top: 17px;}

#nav >.depth01-menu li.on >.depth02-menu{display: block; background-color:#585b72;}
#nav >.depth01-menu li >.depth02-menu{display: none; padding: 10px 18px;}
#nav >.depth01-menu li >.depth02-menu li{font-size: 14px; font-weight: 400;line-height: 30px; background: none; border-bottom:none;}
#nav >.depth01-menu li >.depth02-menu li a{display: block; background: none; color: #fff; padding: 0px 18px;}
#nav >.depth01-menu li >.depth02-menu li a::before{content: '-'; margin-right: 5px;}
#nav >.depth01-menu li >.depth02-menu li a::after{content:none;}

#nav >.depth01-menu li >.depth02-menu li.active{}
#nav >.depth01-menu li >.depth02-menu li.active a{ color: #FFB88C;}




#container{position: relative; margin-left: 250px; min-width: 1190px; height:auto;}

.footer{background-color: #f3f3f3;  padding: 30px 30px; height: 45px; position: relative; display: inline-flex;}
.footer img{display: inline-block; width: 233px;}
.footer dl{display: inline-block; margin-left: 30px; text-align: left; font-size: 13px; font-weight: 300; color: #787878; line-height: 24px;}
.footer dl dt{}

.contents-wrap{min-height: 600px; position: relative; padding: 30px 30px 50px 30px;}
.sub-cont{position: relative; margin-bottom: 18px; display: flex; justify-content: space-between; align-items: center;}
.sub-cont .btn-cont{margin: 0px 0px 0px 0px;}
.sub-cont .h2-tit{    width: 100%; margin-bottom: 0px;}

.btn-cont{position: relative; width: 100%; height: auto; text-align: right; margin: 40px 0px 80px 0px;}
.btn-cont button{margin-right: 10px;}
.btn-cont button:last-child{margin-right:0px;}


.req-box{display: inline-flex; position: relative; padding: 10px 20px; background-color: #EEF6FE; border-radius: 8px;}
.req-box label{font-size: 16px; font-weight: 400; color: #333; line-height: 36px;}


.search-wrap{position: relative; width: 100%; height: auto;}
.search-cont:last-child{margin-bottom:0px;}
.search-cont{display: inline-flex; width: 100%; height: 40px; justify-content: left; align-items: center; margin-bottom: 25px;}

.search-cont .select{margin: 0px 20px 0px 0px;}

.search-cont .h3-tit{margin-right: 30px; margin-bottom: 5px;}


.search-sub{display: inline-block; margin-right: 30px; width: auto; height: auto;}
.search-sub:last-child{margin-right: 0px;}
.search-sub .radio-cont{display: inline-block;}
.search-sub .radio-cont:last-child{margin-right: 0px;}
.search-sub .radio-cont .input-box{width: 130px; margin: 0px 0px 0px 5px;}


.count-txt{position: absolute; width: auto; font-size: 14px; font-weight: 400; color: #333; text-align: left; line-height:38px;}
.count-txt dt{display: inline-block; position: relative; margin-right: 20px; padding-left: 10px;}
.count-txt dt::before{ content: ''; clear: both; font-size: 10px; margin-right: 5px; position: absolute; width: 3px; height: 3px; background: #333; left: 0px; top: 50%; border-radius: 10px;}
.count-txt dt span{font-weight: 500;}


.radio-cont{margin-right: 30px; display: inline-block;}
.radio-cont .radio-box{width: 15px; height: 15px; margin: 0px 5px 0px 0px;}
.radio-cont label{font-size: 14px; font-weight: 400; color: #333; line-height: 34px;}


.picker-wrap{margin-right: 30px; height: 38px;}
.picker-wrap input{width: 120px; margin: 0px 5px 0px 0px;}
.picker-wrap span{}


.time-cont{}
.time-cont .input-box{width:60px; height: 26px;font-size: 14px;line-height: 30px; margin: 0px 10px 0px 0px;}
.time-cont span{padding-right: 10px;}
.time-cont .select{width:60px; font-size: 14px; height: 30px; margin: 0px 10px 0px 0px;}


.tb-cont{position: relative;}
.tb-cont .input-box{height: 26px;font-size: 14px;line-height: 30px; margin: 0px 10px 0px 0px;}
.tb-cont span{padding-right: 10px;}
.tb-cont .select{font-size: 14px; height: 30px; margin: 0px 10px 0px 0px;}

.tb-cont .radio-cont{display: inline-block;}
.tb-cont .radio-cont .input-box{width: 80px; height: 26px; font-size: 14px; line-height: 30px; margin: 0px;}

.tb-cont .picker-wrap{display: inline-block;}
.tb-cont .picker-wrap input{width: 120px; margin: 0px 5px 0px 0px; height: 26px; font-size: 14px; line-height: 30px;}
.tb-cont .picker-wrap span{}


.tb-cont .time-cont{display: inline-block;}




.tab-cont{position: relative; width: 100%; height: auto; margin-bottom: 30px;}
.tab-cont ul{display: block; border-bottom: 1px #2F86EE solid; height: 47px;}
.tab-cont ul::after{display:block; clear: both; content: '';}

.tab-cont ul li{float: left; width: 140px; height: 46px; text-align: center; line-height: 46px; font-size: 16px; font-weight: 500; border-left: 1px #ccc solid; border-top: 1px #ccc solid; border-right: 1px #ccc solid; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.tab-cont ul li:last-child{border-left: 0px #ccc solid;}


.tab-cont ul li a{    display: block;}

.tab-cont ul li.on{border-left: 1px #2F86EE solid; border-top: 1px #2F86EE solid; border-right: 1px #2F86EE solid; border-bottom: 1px #fff solid;}
.tab-cont ul li.on a{color: #2F86EE;}



.h1-tit{font-size: 24px; font-weight: 500; color: #333; line-height: 30px; margin-bottom: 25px; text-align: left;}
.h2-tit{font-size: 16px; font-weight: 500; color: #333; text-align: left; line-height: 20px; margin-bottom: 15px;}
.h3-tit{font-size: 15px; font-weight: 500; color: #333; text-align: left; line-height: 20px; display: block;}



.scroll-wrap{overflow-x: auto;}
.scroll-wrap .list-tb{min-width: 1600px;}
.table-wrap{width: 100%; position: relative; margin-bottom: 30px;}


.list-tb{border-top: 2px #222 solid; border-bottom: 1px #222 solid;}
.list-tb thead th{min-height: 45px; padding: 10px 10px; background-color: #eee; text-align: center; font-size: 14px; font-weight: 500; color: #333; line-height: 20px;}
.list-tb thead td{}
.list-tb tbody th{}
.list-tb tbody td{border-bottom: 1px #ddd solid; background-color: #fff; text-align: center; font-size: 14px; font-weight: 400; color: #787878; line-height: 20px; padding: 10px 10px; height: 30px;}
.list-tb tbody tr:last-child td{border: none;}
.list-tb tbody td >.select{width: 98%; font-size: 14px;}
.list-tb tbody td >.input-box{width: 90%; height: 26px; font-size: 14px; line-height: 30px; margin: 0px;}
.list-tb tbody td >.img-box{position: relative; max-width: 100px;}
.list-tb tbody td >button:last-child{}
.list-tb tbody td >span{font-size: 14px; font-weight: 400; color: #787878;}
.list-tb tbody td >.picker-wrap{margin-right: 0px;}
.list-tb tbody td >.picker-wrap .input-box{width: 110px;}

.detail-tb{border-top: 2px #222 solid; border-bottom: 1px #222 solid;}
.detail-tb tbody th{height: 45px; border-left: 1px #ddd solid; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid; background-color: #EEF6FE; text-align: left; font-size: 14px; font-weight: 500; color: #333; line-height: 20px; padding: 0px 25px;}
.detail-tb tbody th:first-child{border-left: 0px #ddd solid;}
.detail-tb tbody tr:last-child th, .detail-tb tbody tr:last-child td{border-bottom: none;}
.detail-tb tbody td{border-bottom: 1px #ddd solid; background-color: #fff; text-align: left; font-size: 14px; font-weight: 400; color: #787878; line-height: 20px; padding: 10px 25px;}

.detail-tb tbody td >.input-box{height: 26px; font-size: 14px; line-height: 30px; margin: 0px;}
.detail-tb tbody td >.select{font-size: 14px; height: 30px; margin: 0px 10px 0px 0px;}
.detail-tb tbody td >.picker-wrap input{    height: 26px; line-height: 30px;}



.next-ico{font-size: 16px; font-weight: 600; line-height: 36px;  padding: 0px 5px; color: #333;}

.img-box{position: relative;}
.img-box img{width: 100%;}

.editor-box{position: relative; width: 100%; min-height: 200px; margin: 10px 0px; background-color: #eee;}

.upload-box{position: relative; width: auto; margin: 10px 0px;}
.upload-box button{padding: 0px 10px; height: 28px; font-size: 13px; line-height: 28px;}
.upload-box label{ font-size: 14px; font-weight: 400; color: #787878; margin-left: 5px; line-height: 28px; margin-right: 10px;}
.upload-box label >span{}



.search-btn{font-size: 16px; font-weight: 400; color: #fff; text-align: center; padding: 10px 25px; border-radius: 10px; height: 38px; background: #2F86EE; border: 1px solid #2F86EE;}
.search-btn:hover{background: #1868C8; border: 1px solid #2F86EE;}
.search-btn:focus{background: #1868C8; border: 1px solid #2F86EE;}


.grid-box{position: relative; width: 100%; margin-bottom: 10px;}
.grid-box .input-box{height: 26px; font-size: 14px; line-height: 30px; margin:0px 30px 0px 0px }


.check-cont{display: inline-block; height: 30px; line-height: 30px; margin-right: 30px;}
.check-cont label{font-size: 14px; color: #333; font-weight: 400; line-height: 30px;}
.check-cont .check-box{    margin: -3px 5px 0px 0px;}


.box{display: inline-block; position: relative; margin-right: 20px;}
.box .input-box{ width: 60px; margin: 0px 0px 0px 5px;}
.box >span{}




.dim-layer{display: block; width: 100%; height: 100%; background: #000; opacity: 0.75; position: absolute; left: 0; top: 0; z-index: 10;}

.sm-pop{width: 500px !important; height: auto !important;}

.sm-pop .pop-cont{height: auto; max-height: 500px;}
.sm-pop .pop-cont .table-wrap{height: auto;}

.pop-wrap{width: 600px; height: 500px; padding: 27px 27px; background: #fff; z-index: 11; position: absolute; border-radius: 20px; box-shadow: 3px 3px 10px #000;}

.pop-header{width: 100%; position: relative; display: flex; justify-content: space-between;}
.pop-header .close-btn{width: 48px; height: 48px;}
.pop-header .h1-tit{line-height: 48px; margin-bottom: 0px;}

.pop-footer{position: relative; text-align: center; margin-bottom: 30px;}
.pop-footer button{margin-right: 20px;}
.pop-footer button:last-child{margin-right: 0px;}

.pop-cont{position: relative; padding: 25px 0px; height: 460px;}
.pop-cont .search-wrap{margin-bottom: 25px;}
.pop-cont .page-wrap{margin: 15px 0px 0px 0px;}

.pop-cont .table-wrap{height: 460px; margin-bottom: 0px; overflow-y: auto;}

.pop-cont .list-tb{}
.pop-cont .list-tb thead th{height: 40px;}
.pop-cont .list-tb tbody td{padding: 5px 10px; height: 30px;}

.pop-cont p{font-size: 16px; font-weight: 400; color: #333; line-height: 24px; text-align: center; padding-bottom: 30px;}

.pop-cont .detail-tb{}
.pop-cont .detail-tb tbody td{}
.pop-cont .detail-tb tbody td .point{text-align: left; font-size: 13px; color: #f5535b; line-height: 24px; padding-bottom: 0px;}

.pop-cont .point{text-align: left; font-size: 13px; color: #f5535b; line-height: 24px; padding: 10px 0px 0px 0px;}

.pop-cont .warrant-wrap{transform: scale(0.6); left: -45px; top: -170px;}
.pop-cont .warrant-wrap.number .warrant-tit{padding-top: 25px;}
.pop-cont .warrant-wrap .warrant-cont p{margin-bottom: 25px;}


.warrant-wrap{width: 515px; height: 762px; position: relative; margin: 0 auto; padding: 40px 40px;}

.warrant-wrap.general{background: url(../images/common/01bg.jpg) no-repeat center center; background-size: cover;}
.warrant-wrap.number{background: url(../images/common/02bg.jpg) no-repeat center center; background-size: cover;}
.warrant-wrap.number .warrant-tit{padding-top: 85px;}


.warrant-wrap .warrant-tit{font-size: 40px;font-weight: 600; font-family: batang; color: #333; text-align: center; line-height: 54px; padding-top: 120px; letter-spacing: 8px;}

.warrant-wrap .warrant-num{font-size: 16px; font-weight: 400; line-height: 24px; text-align: left; color: #333;}
.warrant-wrap .warrant-num span{font-weight: 500;}


.warrant-wrap .warrant-cont{padding: 55px 70px;}
.warrant-wrap .warrant-cont p{margin-bottom: 45px; font-size: 16px; font-weight: 500; line-height: 24px; text-align: left; color: #333;}
.warrant-wrap .warrant-cont p span{padding: 0px 3px 0px 0px; font-weight: 700; color: #000;}

.warrant-wrap .warrant-cont .name{}
.warrant-wrap .warrant-cont .title{}
.warrant-wrap .warrant-cont .des{text-align: center; font-size: 18px; line-height: 30px; font-weight: 400;}
.warrant-wrap .warrant-cont .date{text-align: center;}
.warrant-wrap .warrant-cont .date span{padding: 0px 3px 0px 10px;}
.warrant-wrap .warrant-cont .date span:first-child{padding: 0px 3px 0px 0px;}


.warrant-wrap .warrant-foot{padding: 0px 70px; text-align: right;}
.warrant-wrap .warrant-foot span{font-size: 20px; line-height: 30px; font-weight: 600; color: #000;}
.warrant-wrap .warrant-foot img{width: 20%; max-width: 300px;}

.warrant-wrap .warrant-cont2{padding: 55px 70px;}
.warrant-wrap .warrant-cont2 p{margin-bottom: 45px; font-size: 16px; font-weight: 500; line-height: 24px; text-align: center; color: #333;}
.warrant-wrap .warrant-cont2 p span{padding: 0px 3px 0px 0px; font-weight: 700; color: #000;}

.warrant-wrap .warrant-cont2 .name{}
.warrant-wrap .warrant-cont2 .title{}
.warrant-wrap .warrant-cont2 .subtitle{}
.warrant-wrap .warrant-cont2 .des{text-align: center; font-size: 18px; line-height: 30px; font-weight: 400;}
.warrant-wrap .warrant-cont2 .date{text-align: center;}
.warrant-wrap .warrant-cont2 .date span{padding: 0px 3px 0px 10px;}
.warrant-wrap .warrant-cont2 .date span:first-child{padding: 0px 3px 0px 0px;}